.container {
    display: grid;
    justify-content: center;
    -webkit-text-size-adjust: 100%;
}

.header {
    background-color: #f1f1f1;
    padding: 2em;
    margin: 2em 2em 0em 2em;
    text-align: center;
    border-radius: 10px;
    max-width: 850px;
}

.download-btn {
    display: none;
    background-color: #9b9b9b;
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0.5em 0.5em;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: hidden;
    font-family: 'Cormorant Infant', serif;
}

.download-btn:hover {
    background-color: #888888;
}

.download-btn:active {
    background-color: #515151;
}

/* Mobile view and responsive web */
.download-btn-mobile {
    display: unset;
    background-color: #9b9b9b;
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 2.5vh; /* larger on mobile and smaller on desktop */
    margin: 1em 0.7em;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Cormorant Infant', serif;
}

.download-btn-mobile:hover {
    background-color: #888888;
}

.download-btn-mobile:active {
    background-color: #515151;
}

.row {
    display: flex;
}

.col {
    flex: 50%;
}

.header .row {
    flex-direction: column;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.pic-container {
    align-self: center;
}

.mono {
    font-family: 'Lucida Console', serif;
    margin: 0em 2em;
    line-height: 1.5em;
    align-self: center;
    text-align: left;
    font-size: 1.5em;
}

@font-face {
    font-family: 'Lucida Console';
    src: url('../font/Lucida_Console_Regular.ttf');
}

@font-face {
    font-family: 'Cormorant Infant';
    src: url('../font/Cormorant_Infant_Light.ttf');
}

@font-face {
    font-family: 'Cormorant SC';
    src: url('../font/Cormorant_SC_Light.ttf');
}

.center {
    text-align: center;
}

.content {
    display: flex;
    max-width: 1000px;
}

.paper .subtitle {
    font-family: 'Cormorant SC', serif;
    margin-bottom: 10px;
}

.paper h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #888888;
    margin-top: 0.5em;
}

.paper table td {
    padding: 0.2em;
}

ul.dash {
    list-style-type: none;
}

ul.dash>li {
    text-indent: -20px;
    padding: 0.1em;
}

ul.dash>li:before {
    content: "- ";
}

.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-bottom: 2em;
}

.paper {
    width: 100%;
    padding: 2em;
    margin: 2em;
    background-color: #f1f1f1;
    border-radius: 5px;
    border: 1px solid #888888;
    box-shadow: 10px 5px 5px #888888;
    font-family: 'Cormorant Infant', serif;
    font-size: 1.65vw;
    position: relative;
}

.sm {
    font-size: 1.5vw;
}

.md {
    font-weight: bold;
}

.paper h1 {
    font-size: 5vw;
    font-family: 'Cormorant SC', serif;
    margin-bottom: 0px;
}

.paper h2 {
    font-size: 2.5vw;
    font-family: 'Cormorant SC', serif;
    text-align: left;
    margin-top: 20px;
}

.paper h3 {
    font-size: 1.7vw;
    font-family: 'Cormorant Infant', serif;
    text-align: left;
    margin-bottom: 5px;
}

.paper table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    font-size: 1.65vw;
}

/* Desktop view */
@media (min-device-width: 1600px) and (min-width: 800px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .header .row {
        flex-direction: row;
    }

    .profile-pic {
        margin-bottom: 0em;
    }

    .mono {
        margin: 0em 2em;
        font-size: 1em;
    }

    .profile-pic {
        width: 150px;
        height: 150px;
    }

    .paper {
        width: 100%;
        padding: 2em;
        margin: 2em;
        background-color: #f1f1f1;
        border-radius: 5px;
        border: 1px solid #888888;
        box-shadow: 10px 5px 5px #888888;
        font-family: 'Cormorant Infant', serif;
        font-size: 16.5px;
        position: relative;
    }

    .sm {
        font-size: 15px;
    }

    .paper h1 {
        font-size: 50px;
        font-family: 'Cormorant SC', serif;
        margin-bottom: 0px;
    }

    .paper h2 {
        font-size: 25px;
        font-family: 'Cormorant SC', serif;
        text-align: left;
        margin-top: 20px;
    }

    .paper h3 {
        font-size: 17px;
        font-family: 'Cormorant Infant', serif;
        text-align: left;
        margin-bottom: 5px;
    }

    .paper table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1em;
        font-size: 16.5px;
    }

    .download-btn {
        display: unset;
    }

    .download-btn-mobile {
        display: none;
    }
}

.typewriter-container {
    display: inline-block;
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    animation: 
        typing 2.3s steps(40, end) forwards,
        blink-caret .75s step-end infinite;
    animation-delay: 0.5s, 3.3s;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}